{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!--Общие стили-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Стили для информации о городе-->
    <link rel="stylesheet" href="{% static 'css/city_page.css' %}">
    <!--Стили для расстояния-->
    <link rel="stylesheet" href="{% static 'css/distance.css' %}">
    <!-- HTMX --> 
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
</head>
<body>
    {% block header %}{% endblock header %}
    <div class="main-container">
        {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/for_cities_dist.js' %}"></script>
</body>
</html>